[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask ="*"
flask_migrate ="*"
flask_restful ="*"
flask_restx ="*"
flask_cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
