alembic
aniso8601
attrs
blinker
click
Faker
flask==1.1.4
Flask-Cors
Flask-Migrate
Flask-RESTful
flask-restx 
flask-sqlalchemy=="*"
greenlet
gunicorn
importlib-metadata
importlib-resources
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
Mako
MarkupSafe==2.0.1
packaging
pkgutil-resolve-name
python-dateutil
pytz
referencing
rpds-py
six
SQLAlchemy
SQLAlchemy-serializer
typing-extensions
werkzeug
zipp
